include LICENCE *.rst *.toml *.yml *.yaml *.ini Makefile
graft .github
graft example

# Code
recursive-include simago *.py

# Tests
recursive-include tests *.py *.yml *.yaml *.not_yaml *.csv *.txt

# Documentation
include docs/Makefile docs/make.bat
recursive-include docs *.rst
recursive-include docs *.py
recursive-include docs *.keep
prune docs/_build
